<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{.Title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="HandheldFriendly" content="True">
  <!-- CSS  -->
  <link rel="stylesheet" href="{{.Site.BaseURL}}/lib/font-awesome/web-fonts-with-css/css/fontawesome-all.css">
  <link rel="stylesheet" href="{{.Site.BaseURL}}/css/materialize.min.css">
  <link rel="stylesheet" href="{{.Site.BaseURL}}/css/normalize.css">
  <link rel="stylesheet" href="{{.Site.BaseURL}}/css/style.css">
  <!-- materialize icon -->
  <link href="{{.Site.BaseURL}}/https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Owl carousel -->
  <link rel="stylesheet" href="{{.Site.BaseURL}}/lib/owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="{{.Site.BaseURL}}/lib/owlcarousel/assets/owl.theme.default.min.css">
  <!-- Slick CSS -->
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/lib/slick/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/lib/slick/slick/slick-theme.css">
  <!-- Magnific Popup core CSS file -->
  <link rel="stylesheet" href="{{.Site.BaseURL}}/lib/Magnific-Popup-master/dist/magnific-popup.css">
</head>

<body id="homepage">
  <!-- HEADER -->
  <header id="header">
    <div class="nav-wrapper container">
      <div class="header-logo">
        <a href="{{.Site.BaseURL}}" class="nav-logo"><i class="fa fa-dollar-sign"></i> Investasi Yang Terbukti PROFIT SEJAK 2 TAHUN</a>
      </div>
    </div>
  </header>
  <!-- END HEADER -->

  <div id="page-content" style="min-height: 500px; margin-top: 75px;">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div style="text-align: center;">
            {{.Content}}
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ partial "footer" . }}